{% extends "wrapper.html" %}
{% load static %}
{% block UserRole %}

<div class="page-wrapper">
	<div class="page-content">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 row-cols-xl-5 g-3 justify-content-end">
      <a href="#">
      <div class="col d-flex justify-content-end">
        <div class="d-flex align-items-center theme-icons shadow-sm p-2 cursor-pointer rounded">
          <div class="font-18 text-white">
            <i class="lni lni-plus"></i>
          </div>
        </div>
      </div>
      </a>
    </div>
    <div class="row row-cols-1 row-cols-lg-3">
            {% for ur in user_roles %}
						<div class="col">
              <div class="card p-3 position-relative" style="min-height: 100px;">
                <div class="row g-0">
                  <div class="col-auto d-flex">
                    <img src="{% static 'default.jpg' %}" class="user-img rounded mb-2" alt="user avatar">
                    <div class="col mx-4">
                      <h6 class="mb-1">{{ ur.user_name }}</h6>
                      <small>{{ ur.user_email }}</small>
                    </div>
                  </div>
                </div><hr class="m-1">
                <div class="col">
                  <div class="mt-2">
                    <i class="bx bx-edit-alt fs-9 me-3 border rounded px-1" title="Edit"></i>
                    <i class="bx bx-trash text-danger fs-9 me-3  border rounded px-1" title="Delete"></i>
                    <i class="bx bx-key text-warning fs-9 me-3  border rounded px-1" title="Reset Password"></i>
                    <i class="bx bx-log-out text-dark fs-9 border rounded px-1" title="Login Disable"></i>
                  </div>
                </div>
                <div class="position-absolute bottom-0 end-0 m-3">
                  <button class="btn btn-success btn-sm px-3 py-0"><small>{{ur.role_name}}</small></button>
                </div>
              </div>
            </div>
            {% endfor %}
		</div>
  </div>
</div>

 {% endblock %}